footer {
  background-color: transparent;
  color: rgba(51, 51, 51, 0.69);
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 13px;
}
.container {
  display: flex;
  justify-content: center;
}
