<div class="home-container">
  <app-navbar/>
  <div class="main-content">
    <div class="text-content">
      <p class="title">Exchange Rate</p>
      <p class="content">Our application is designed to provide you with real-time currency exchange rates.
        Whether you're a frequent traveler, an international businessperson,
        or just someone who needs to stay updated on currency trends, our app has you covered.</p>
      <button class="startBtn" (click)="start()">Check Rates</button>
    </div>
    <div class="image-content">
      <img src="assets/images/currency.png" alt="image">
    </div>
  </div>
  <app-footer/>
</div>
